*{
	box-sizing: border-box;
}

h1 {
	font-family: Avenir, 'Gill Sans', sans-serif;
	padding-left: 40px;	
	font-weight: bold;
	font-size: 25px;
}

ul {
  list-style-type: none;
  font-family: Avenir, 'Gill Sans', sans-serif;
}

li {
	border: 1px solid #d3d3d3;
	width: 250px;
	height: 50px;
	padding: 15px;
}

a {
	color: #66CC99;
	text-decoration: none;
}